#root {
  margin: 0 auto;
  text-align: center;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 40vmin solid transparent;
  border-right: 40vmin solid transparent;
  border-bottom: 80vmin solid #e6c496;
  position: relative;
}

.triangle-bottom {
  height: 5vmin;
  width: 80vmin;
  background-color: #d3a86b;
  margin: 0 auto;
}

.triangle-area {
  position: relative;
}

.triangle-board {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10vmin 0 0 0;
}

.peg-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.peg-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14vmin;
  height: 14vmin;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.peg-slot--active {
  cursor: pointer;
}

.peg-hole {
  width: 2vmin;
  height: 1.5vmin;
  background-color: #8c6c3f;
  border-radius: 50%;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}

.peg-hole--pick-option {
  border-width: 1vmin;
  border-color: #d0a976;
  border-style: solid;
  animation: pulse 0.5s infinite alternate;
}

.peg-hole--picked {
  border-width: 1vmin;
  border-color: #f17979cf;
  border-style: solid;
  animation: pulse 0.5s infinite alternate;
}

.peg-hole--option {
  border-width: 1vmin;
  border-color: rgb(134 243 138 / 49%);
  border-style: solid;
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  0% {
    border-width: 0.75vmin;
  }

  100% {
    border-width: 1.25vmin;
  }
}

.peg-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -1.5vmin;
  width: 5vmin;
}

.peg-container--moveable {
  cursor: pointer;
}

.peg-container--moveable:hover .peg-rod {
  height: 6vmin;
}

.peg-container--picked .peg-rod {
  height: 5vmin;
}

.peg-top {
  width: 5vmin;
  height: 4vmin;
  background-color: #d58421;
  border-radius: 50%;
  margin-bottom: -1vmin;
  z-index: 2;
}

.peg-rod {
  width: 2vmin;
  height: 4vmin;
  background-color: #ae732b;
}

.peg-rod-bottom {
  background-color: #ae732b;
  width: 2vmin;
  border-radius: 0 0 50% 50%;
  height: 1.5vmin;
}

.game-over {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.game-over-toast {
  background-color: #151515;
  border-radius: 5px;
  border: 1px solid #131212;
  padding: 2vmin 4vmin;
  margin: 2vmin;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vmin;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
